.vercel
node_modules
.env
.vercel
core/client_secret.json
core/token_gen.py
venv/
client_secret.json
get_token.py
.DS_Store
.env*.local
__pycache__/repomix-output.xml
__pycache__/
repomix-output.xml
outlook_tokens.json
config.json
product-summary/